*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;
}
nav {
    background-color: rgb(15, 15, 99);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color:darkblue;
    padding: .5rem;
}
main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    margin: 1rem;
    }

main {
    max-width: 400px;
}

aside {
    width: 20rem;
    background-color: #eee;
    color: #783a07;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: sticky;
    top: 50px;
    left: 200px;

}

footer {
    margin-top: 10px;
    border-top: 2px black;
    text-align: center;
    
}
 
/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%); 
    padding: 1rem;
    background-color: #2186a2;
    color: #888;
}

.indent {
    padding-left: 2rem;
}

/* class="active" */
