* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

nav {
    background-color: rgb(15, 15, 99);
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.2rem;
    font-weight: 700;

}

nav a {
    color: white;
    display: block;
    padding: .0.5rem;
    text-decoration: none;
}
h1 {
    color:darkblue;
    padding: .5rem;
    border-bottom: 2px solid #922906;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 1rem 0 1rem 1rem;
}

p {
    margin: 1rem;
    }

main {
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    width: 20rem;
    background-color: #eee;
    color: #922906;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2; 
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: sticky;
    top: 50px;
    left: 200px;

}

footer {
    margin-top: 10px;
    border-top: 2px black;
    text-align: center;
    
}
 
/* Class Selectors */

.box {
    margin: 1rem;
    border: 2px solid rgb(0 0 0 / 10%); 
    padding: 2rem;
    background-color: #2186a2;
    color: #922906;
}

.indent {
    padding-left: 2rem;
}
.grid {
    display: grid;
    align-items: center;
}

